<nav class="navbar navbar-expand navbar-dark bg-dark text-light justify-content-sm-evenly">
    <a class="navbar-brand" [routerLink]="['/']">Mi Examen</a>
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" routerLinkActive="active" [routerLink]="['home']"
            aria-current="page">Inicio<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['formulario']"
            aria-current="page">Registro</a>
    </div>
</nav>