<div class="container">
    <div class="row g-4">
        @if(selectedUser == 'Admin'){
            <div class="col-12">
                <app-formulario-component></app-formulario-component>
            </div>
            <div class="col-12">
                <div class="p-3 bg-white rounded shadow-sm">
                    <h3 class="mb-3">Lista de Artículos</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Url</th>
                            </tr>
                            @for(articulo of listaArticulos; track articulo.id){
                                <app-lista-administrador-component [articulo]="articulo"></app-lista-administrador-component>
                            }@empty {
                                <tr><td colspan="3"><h3>TODAVIA NO TENEMOS MATERIAL DE LECTURA</h3></td></tr>
                        }
                        </table>
                </div>
            </div>
        }@else if(selectedUser == 'User'){
            <span>{{selectedUser}}</span>
        }
        
        

            <hr>

            <!-- Lista de artículos -->
            <!-- <div class="">
                @for (articulo of listaArticulos; track articulo.id) {
                <div class="card mb-3">
                    <div class="card-body overflow-hidden">
                        <h5 class="card-title">{{articulo.titulo}}</h5>
                        <p class="card-text">{{articulo.fecha}}</p>
                        <img [src]="articulo.url" [alt]="articulo.titulo" class="img-fluid mb-2 rounded img-safe img-preview">
                        <p class="card-text text-truncate">{{articulo.contenido}}</p>
                        <a class="btn btn-primary" (click)="leerMas(articulo)">Leer Más</a>
                    </div>
                </div>
                }
            </div> -->
        </div>

    </div>

  

