.hero-list {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}

.hero-card {
  background: rgba(2, 6, 23, 0.95);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 5px midnightblue;
  text-align: center;
  transition: transform 0.2s ease;
  color:white;
  filter:brightness(0.6);
  border: 2px solid gray;
}

.hero-card:hover {
  transform: translateY(-6px);
  box-shadow: 10px 10px 20px midnightblue;
  filter: brightness(1.5);
}

.hero-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hero-card h3 {
  margin: 0.75rem 0 0;
}

.hero-card p {
  font-size: 0.9rem;
  color:lightcyan;
}

.hero-card button {
  margin: 1rem 0;
  border: 1px solid white;
  color: lightcyan;
}
