<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm rounded">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex align-items-center ms-auto">
                <select class="form-select ms-3" aria-label="Selecciona una opción" name="Rol" [(ngModel)]="selectedRole" (change)="handleSelectChange()">
                    <option value="Admin">Administrador</option>
                    <option value="User" selected>Usuario</option>
                </select>
            </div>
        </div>
    </div>
</nav>