
.modal-soft {
  border-radius: 16px;
  border: none;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


.modal-avatar {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #e6edf3;
}

.modal-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.text-warning-emphasis {
  color: #b08900;
}
