

<div class="container">
    <tr class="w-100">
        <td class="d-flex flex-column">
            <span>{{producto.title}}</span>
            <span>{{producto.sku}}</span>
        </td>
        <td><span>{{producto.price}}</span></td>
        <td class="d-flex flex-row justify-content-evenly">
            <button class="btn btn-outline-secondary">-</button>
            <span>{{cantidadInicial}}</span>
            <button class="btn btn-outline-secondary" (click)="addProductToCarrito()">+</button>
        </td>
        <td>
        </td>
    </tr>
</div>
