<div class="container w-100 m-2">
    <div class="row col-12">
        <div class="col-6 d-flex flex-column justify-content-start">
            <p>{{articuloActual.titulo}}</p>
        </div>
        <div class="col-6 d-flex flex-column justify-content-end">
            <p>{{obtenerFecha()}}</p>
        </div>

    </div>
    <div class="row col-12">
        <img src="" [alt]="articuloActual.url">
    </div>
    <div class="row col-12">
        <p>{{articuloActual.contenido}}</p>
    </div>
</div>
