.pInicial{
    color:black;
    font-size:0.6em;
    font-style:italic;    
    padding-left: 15px;
}

.pError{
    color:red;
    font-size:0.6em;
    font-style:italic;    
    padding-left: 15px;
}

.pSuccess{
    color:green;
    font-size:0.6em;
    font-style:italic;    
    padding-left: 15px;
}