<div class ="container d-flex flex-column w-75 mt-5">
    
    <form [formGroup]="formulario" (ngSubmit)="submitForm()">
        <div class="mb-3 d-flex flex-column">
            <label for="titulo" class="form-label">Titulo del Articulo</label>
            <input type="text" formControlName="titulo" class="form-control-lg" id="titulo" placeholder="Introduzca el título del artículo">
            @if(formulario.get('titulo')?.pristine || formulario.get('titulo')?.untouched){
                <span [class]="pInicial">{{getMessageInicial()}}</span>
            }@else if((formulario.get('titulo')?.touched || formulario.get('titulo')?.dirty) && (formulario.get('titulo')?.invalid)){
                <span [class]="pError">{{getMessageError()}}</span>
            }@else {
                <span [class]="pSuccess">{{getMessageSuccess()}}</span>
            }
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="url" class="form-label">Inserte URL de la imagen</label>
            <input type="text" formControlName="url" class="form-control-lg" id="url" placeholder="Introduzca el título del artículo">
            @if(formulario.get('url')?.pristine || formulario.get('url')?.untouched){
                <span [class]="pInicial">{{getMessageInicial()}}</span>
            }@else if((formulario.get('url')?.touched || formulario.get('url')?.dirty) && (formulario.get('url')?.invalid)){
                <span [class]="pError">{{getMessageError()}}</span>
            }@else {
                <span [class]="pSuccess">{{getMessageSuccess()}}</span>
            }
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="contenido" class="form-label">Contenido del artículo</label>
            <textarea class="form-control-lg" formControlName="contenido" id="contenido" rows="3" placeholder="Inserte aquí el contenido del artículo"></textarea>
            @if(formulario.get('contenido')?.pristine || formulario.get('contenido')?.untouched){
                <span [class]="pInicial">{{getMessageInicial()}}</span>
            }@else if((formulario.get('contenido')?.touched || formulario.get('contenido')?.dirty) && (formulario.get('contenido')?.invalid)){
                <span [class]="pError">{{getMessageError()}}</span>
            }@else {
                <span [class]="pSuccess">{{getMessageSuccess()}}</span>
            }
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Subir</button>
    </form>    
</div>