.body{
    width:100%;
}

.main-container{
    width:90%;
    margin:auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.product-table{
    width:70%;
    margin:5%;
}

.articles-table{
    margin:15px;
    width:100%;
    text-align: left;
    font-size: 14px;
    font-weight:lighter;
}

.articles-title th{
    border-bottom: 1px solid black;
}

.total-price{
    width:30%;
    margin:5%;
}

.total-table{
    margin:15px;
    width:100%;
    background-color: lightgray;
    text-align: left;
}

.total-text{
    font-size:18px;
    font-weight:bold;
    vertical-align: middle;
}

.precio-total{
    text-align: right;   
}

#precio-total{
    text-align: right;
}

#euros{
    margin-right:10px;
}


.product-name p{
    margin:0;
}

.product-row{
    border-bottom: 0.5px solid black;
}



