.body{
    width:100%;
}

.main-container{
    width:95%;
    margin:auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.product-table{
    width:75%;
    margin:5%;
}

.articles-table{
    margin:15px;
    width:100%;
    text-align: left;
    font-size: 14px;
    font-weight:lighter;
}

.articles-title th{
    border-bottom: 1px solid black;
}

.total-price{
    width:25%;
    margin:5%;
}

.total-table{
    margin:15px;
    width:100%;
    background-color: lightgray;
    text-align: left;
}

.total-text{
    font-size:18px;
    font-weight:bold;
    vertical-align: middle;
}

.precio-total{
    text-align: right;   
}

#precio-total{
    text-align: right;
}

#euros{
    margin-right:10px;
}


.product-cell p{
    margin:0;
}

.product-name{
    font-size: 1.5em;
    font-weight:bold;
}

.product-reference{
    font-size: 0.9em;
    font-weight: lighter;
    font-style: italic;
}


.quantity-button{
    background-color: transparent;
    border:none;
}

.quantity{
    display: inline-block;
    text-align: center;
    border:0.5px solid black;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    box-shadow: 2px 2px 2px grey;
}

.price{
    border:none;
    text-align: rigth;
    background-color: transparent;
    width:6em;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


